@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 480px; /* max: 1000px */
  height: 620px; /* max: 750px */
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  body {
    background-color: #282c34;
  }

  .not-popup {
    width: 480px; /* max: 1000px */
    height: 620px; /* max: 750px */
  }

  .popup {
    width: 100%;
    height: 100%;
  }

  .popup-intruction {
    /* min-height: 300px;
    max-height: 400px;
    overflow-y: scroll; */
    overflow-x: hidden;
  }
}

@layer components {
  .page-container {
    max-width: 1280px;
    @apply mx-auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
